@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #f47a1f;
  --color-secondary: #6b605d;
  --color-ink: #1b1b1b;
  --color-accent: #4fc3ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.font-brother {
  font-family: var(--font-brother), var(--font-inter), "Helvetica Neue", Arial,
    sans-serif;
}

.font-inter {
  font-family: var(--font-inter), "Helvetica Neue", Arial, sans-serif;
}
